<?xml version="1.0"?>
<config>
    <modules>
        <Cammino_Payment>
            <version>0.0.1</version>
            <depends>
				<Mage_Payment />
			</depends>
        </Cammino_Payment>
    </modules>
    <global>
    	 <models>
        	<cammino_payment>
        		<class>Cammino_Payment_Model</class>
        	</cammino_payment>
        </models>
    	<helpers>
            <cammino_payment>
                <class>Cammino_Payment_Helper</class>
            </cammino_payment>
        </helpers>
       <blocks>
       		<cammino_payment>
       			<class>Cammino_Payment_Block</class>
       		</cammino_payment>
       </blocks>
    </global>
	<frontend>
		<routers>
			<cammino_payment>
				<use>standard</use>
				<args>
					<module>Cammino_Payment</module>
					<frontName>camminopayment</frontName>
				</args>
			</cammino_payment>
		</routers>
	</frontend>
    <default>
        <payment>
            <cammino_payment_bol>
                <active>1</active>
                <model>Cammino_Payment_Model_Bol</model>
                <order_status>processing</order_status>
                <title>Cammino Payment - Boleto</title>
            </cammino_payment_bol>
            <cammino_payment_cc>
                <active>1</active>
                <model>Cammino_Payment_Model_Cc</model>
                <order_status>processing</order_status>
                <title>Cammino Payment - Cartão de Crédito</title>
            </cammino_payment_cc>
            <cammino_payment_pix>
                <active>1</active>
                <model>Cammino_Payment_Model_Pix</model>
                <order_status>processing</order_status>
                <title>Cammino Payment - Pix</title>
            </cammino_payment_pix>
         </payment>
    </default>
</config>