<?xml version="1.0"?>
<config>
    <modules>
        <Cammino_Payment>
            <version>0.1.1</version>
            <depends>
                <Mage_Payment />
            </depends>
        </Cammino_Payment>
    </modules>
    <global>
        <models>
            <cammino_payment>
                <class>Cammino_Payment_Model</class>
            </cammino_payment>
        </models>
        <blocks>
            <cammino_payment>
                <class>Cammino_Payment_Block</class>
            </cammino_payment>
        </blocks>
        <helpers>
            <cammino_payment>
                <class>Cammino_Payment_Helper</class>
            </cammino_payment>
        </helpers>
        <resources>
            <camminopayment_setup>
                <setup>
                    <module>Cammino_Payment</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </camminopayment_setup>
        </resources>
        <events>
            <admin_system_config_section_save_after>
                <observers>
                    <payment_observer>
                        <type>singleton</type>
                        <class>Cammino_Payment_Model_Observer</class>
                        <method>updateSettings</method>
                    </payment_observer>
                </observers>
            </admin_system_config_section_save_after>
            <sales_order_place_after>
                <observers>
                    <yourmodule_clear_cc_data>
                        <class>Cammino_Payment_Model_Observer</class>
                        <method>clearSensitivePaymentData</method>
                    </yourmodule_clear_cc_data>
                </observers>
            </sales_order_place_after>
            <sales_model_service_quote_submit_failure>
                <observers>
                    <clear_cc_after_failure>
                        <class>Cammino_Payment_Model_Observer</class>
                        <method>clearQuotePaymentSensitiveData</method>
                    </clear_cc_after_failure>
                </observers>
            </sales_model_service_quote_submit_failure>
        </events>
    </global>
    <frontend>
        <routers>
            <cammino_payment>
                <use>standard</use>
                <args>
                    <module>Cammino_Payment</module>
                    <frontName>camminopayment</frontName>
                </args>
            </cammino_payment>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <cammino_payment before="Mage_Adminhtml">Cammino_Payment_Adminhtml</cammino_payment>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <payment>
            <cammino_payment_cc>
                <model>Cammino_Payment_Model_Cc</model>
                <active>1</active>
                <order_status>pending</order_status>
                <payment_action>order</payment_action>
                <title>Cammino Payment - Cartão de Crédito</title>
            </cammino_payment_cc>
            <cammino_payment_bol>
                <model>Cammino_Payment_Model_Bol</model>
                <active>1</active>
                <order_status>pending</order_status>
                <payment_action>order</payment_action>
                <title>Cammino Payment - Boleto</title>
            </cammino_payment_bol>
            <cammino_payment_pix>
                <model>Cammino_Payment_Model_Pix</model>
                <active>1</active>
                <order_status>pending</order_status>
                <payment_action>order</payment_action>
                <title>Cammino Payment - Pix</title>
            </cammino_payment_pix>
        </payment>
    </default>
</config>